<template lang="pug">
  .home
    HeaderBlock
    AtmosphereBlock
    CatalogBlock
    AboutBlock
    FooterBlock
    CallbackModal
</template>
<script>
export default {
  components: {
    HeaderBlock: () => import('../components/HeaderBlock'),
    AtmosphereBlock: () => import('../components/AtmosphereBlock'),
    CatalogBlock: () => import('../components/CatalogBlock'),
    AboutBlock: () => import('../components/AboutBlock'),
    FooterBlock: () => import('../components/FooterBlock'),
    CallbackModal: () => import('../components/CallbackModal')
  }
}
</script>
