<template lang="pug">
  section.block.block-about
    b-container
      //- b-row
        b-col(cols="12")
          h1.block-title О компании
      //- b-row
        //- b-col(cols="12").text-center
          //- img(:src="require('../assets/madein.png')" style="max-width: 300px;")
        b-col(cols="12")
          .block-about-description
            p Впервые на рынке Кыргызстана ИП Тыдыков Р.Н. запустил производство губок для мытья посуды полного цикла. В ассортименте предлагаемой нами продукции имеются губки для мытья посуды, салфетки для мытья посуды, пола, абразивные материалы, а так же продукция которая необходима для направления HoReCa.
            p Мы хотим предложить Вам партнерство с нашей компанией в Кыргызстане.
            p Девиз нашей компании #[b «Расти вместе!»], и мы ищем партнеров, которые готовы расти и развиваться с нами на долгосрочной основе.
      b-row#contacts
        b-col(cols="12")
          h1.block-title Контакты
      b-row
        b-col(cols="12")
          .block-about-contacts
            p Кыргызская Республика,#[br] г. Бишкек, мкр. Джал, дом 86, кв. 46
            p(style="margin-top: 15px;"): a(href="tel: +996702509097").phone +996 (702) 50 90 97
            p: a(href="https://wa.me/+996701999737").whatsapp +996 (701) 99 97 37
            p: a(href="mailto: lotoskg@mail.ru").mail voline@mail.ru
            img(:src="require('../assets/madein.png')" style="max-width: 160px; margin-top: 25px;")
</template>
<style lang="scss">
  .block {
    &-about {
      padding: 25px 0 45px;
      &-description {
        p {
          font-size: 18px;
          line-height: 1.4;
        }
      }
      &-contacts {
        text-align: center;
        p {
          line-height: 1.2;
          margin: 0 0 10px;
          font-size: 20px;
          a {
            color: rgb(226, 0, 15);
            text-decoration: none;
            font-weight: 500;
            &.phone {
              padding-left: 30px;
              background: url('../assets/icons/icon-phone_red.svg') no-repeat center left;
              background-size: 20px 20px;
            }
            &.whatsapp {
              padding-left: 30px;
              color: #36A834;
              background: url('../assets/icons/icon-whatsapp.svg') no-repeat center left;
              background-size: 20px 20px;
            }
            &.mail {
              padding-left: 30px;
              background: url('../assets/icons/icon-mail_red.svg') no-repeat center left;
              background-size: 20px 20px;
            }
          }
        }
      }
    }
  }
</style>
