<template lang="pug">
  section.block.block-atmosphere#about
    video-bg(
      :sources="[require('../assets/video.mp4')]"
      :img="require('../assets/slide1.jpg')")
    b-container
      b-row(align-h="center")
        b-col(cols="12" md="10").text-center
          h1 Сделано в Кыргызстане
          p Впервые на рынке Кыргызстана ИП Тыдыков Р.Н. запустил производство губок для мытья посуды полного цикла. В ассортименте предлагаемой нами продукции имеются губки для мытья посуды, салфетки для мытья посуды, пола, абразивные материалы, а так же продукция которая необходима для направления HoReCa.
          p Мы хотим предложить Вам партнерство с нашей компанией в Кыргызстане.
          p Девиз нашей компании #[b «Расти вместе!»], и мы ищем партнеров, которые готовы расти и развиваться с нами на долгосрочной основе.
</template>
<style lang="scss">
  .block {
    &-atmosphere {
      position: relative;
      margin-top: 140px;
      height: 600px;
      // background: url('../assets/slide1.jpg') no-repeat center;
      // background-size: cover;
      .VideoBg {
        position: absolute;
        top: 0;
        width: 100%;
        max-height: 600px;
        z-index: -1;
      }
      color: #fff;
      h1 {
        text-transform: uppercase;
        margin: 130px 0 25px;
      }
      p {
        font-size: 18px;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.6);
        content: '';
      }
      .container {
        position: relative;
        z-index: 1;
        height: 100%;
      }
    }
  }
  @media only screen and (max-width: 640px) {
    .block {
      &-atmosphere {
        margin-top: 100px;
        height: 740px;
        padding-bottom: 50px;
        background-size: auto 100%;
        .VideoBg {
          max-height: 740px;
        }
        h1 {
          text-transform: uppercase;
          margin: 70px 0 25px;
        }
      }
    }
  }
</style>
