<template lang="pug">
  b-modal(id="modal-callback" hide-footer hide-header size="md" centered title="BootstrapVue")
    .callback-form
      h3 Если у вас возникли #[br] вопросы, напишите нам
      b-form
        b-form-group(
          id="input-group-name"
          label="Введите ваше имя"
          label-for="input-name")
          b-form-input(
            id="input-name"
            autocomplete="nope"
            required
            placeholder="Иван Иванов")
        b-form-group(
          id="input-group-phone"
          label="Введите ваш номер телефона, чтобы могли с вами связаться"
          label-for="input-phone")
          b-form-input(
            id="input-phone"
            autocomplete="nope"
            required
            placeholder="+996xxxxxxxxx")
        b-form-group(
          id="input-group-comment"
          label="Можете задать нам свой вопрос уже здесь"
          label-for="input-comment")
          b-form-textarea(
            id="input-comment"
            autocomplete="nope"
            placeholder="..."
            rows="3"
            max-rows="6")
        b-button(type="submit" variant="success").btn-send Отправить
</template>
<style lang="scss">
#modal-callback {
  .modal {
    &-body {
      display: flex;
      justify-content: center;
      .callback {
        &-form {
          display: flex;
          flex-direction: column;
          max-width: 480px;
          padding: 30px;
          h3 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.4;
            text-align: center;
            margin-bottom: 30px;
          }
          form {
            display: flex;
            flex-direction: column;
            .form-group {
              label {
                font-size: 12px;
                margin-bottom: 5px;
              }
            }
            .btn {
              &-send {
                display: flex;
                max-width: 160px;
                border-radius: 0;
                align-self: center;
                background-color: #36A834;
              }
            }
          }
        }
      }
    }
  }
}
</style>
