<template lang="pug">
  section.block.block-catalog#catalog
    b-container
      b-row
        b-col(cols="12")
          h1.block-title Каталог продукции
      b-row
        b-col(cols="12" md="4" v-for="good of catalog" :key="good.id")
          b-card(
            :attr-desc="good.description"
            :title="good.title"
            :sub-title="good.size"
            :img-src="require(`../assets/catalog/${good.image}.jpg`)"
            img-alt="Image"
            img-top
            tag="div"
            @blur="console.log('sddsdsdsd')"
            @click="selectCard(good.id)"
            :class="['block-catalog-item', { active: (selectedCard === good.id) }]")
</template>
<script>
export default {
  data: () => ({
    selectedCard: null
  }),
  computed: {
    catalog: () => require('../assets/data/catalog.json')
  },
  methods: {
    selectCard (id) {
      this.selectedCard === id
        ? (this.selectedCard = null)
        : (this.selectedCard = id)
    }
  }
}
</script>
<style lang="scss">
.block {
  &-title {
    text-align: center;
    font-size: 28px;
    margin: 25px 0;
  }
  &-catalog {
    padding: 25px 0;
    .card {
      position: relative;
      margin-bottom: 15px;
      cursor: pointer;
      img {
        max-width: 500px;
        width: 100%;
        height: 350px;
      }
      &-title {
        min-height: 60px;
        font-size: 16px;
      }
      &-subtitle {
        font-size: 13px;
      }
      &-text {
        min-height: 200px;
      }
      &:after {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        padding: 35px;
        line-height: 1.3;
        font-size: 14px;
        font-weight: 500;
        opacity: 0;
        background-color: #fff;
        transition: all 0.5s;
        content: attr(attr-desc);
      }
      &.active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
</style>
