<template lang="pug">
  footer.block.block-footer
    b-container
      b-row
        b-col(cols="12")
          p.copyright Лиценция №0078880, от 14 сентября 2019
          p.copyright © 2021, LOTOS
</template>
<style lang="scss">
  .block {
    &-footer {
      padding: 15px 0;
      background-color: #5b2281;
      .copyright {
        text-align: center;
        color: #fff;
        margin: 5px 0;
        font-size: 12px;
      }
    }
  }
</style>
