<template lang="pug">
  header.block.block-header(style="background: #ffec00;")
    div(style="background: #e2000f;").d-none.d-sm-block
      b-container
        b-row
          b-col(cols="12")
            ul.social-links
              li.link.whatsapp
                a(href="https://wa.me/+996701999737") +996 (701) 99 97 37
              li.link.phone
                a(href="tel: +996702509097") +996 (702) 50 90 97
              li.link.in
                a(href="https://www.instagram.com/lotos.gubki.kg/" target="_blank"): i
              li.link.fb
                a(href="https://www.facebook.com/lotos.kg/" target="_blank"): i
    div
      b-container
        b-row
          b-col(cols="12")
            b-navbar(toggleable="lg")
              b-navbar-toggle(target="nav-collapse")
              b-navbar-brand(href="/")
                img(:src="require('../assets/logo.png')").logo
              b-collapse(id="nav-collapse" is-nav)
                b-navbar-nav
                  b-nav-item(to="/#catalog") Продукция
                  b-nav-item(to="/#about") О компании
                  b-nav-item(to="/#contacts") Контакты
                b-navbar-nav(class="ml-auto")
                  a(class="btn btn-success callback" v-b-modal.modal-callback) Заказать звонок
</template>
<style lang="scss">
  .block {
    &-header {
      position: fixed;
      padding: 0;
      top: 0;
      left: 0;
      max-width: 100%;
      width: 100%;
      z-index: 10;
      .navbar {
        padding: 20px 15px;
        .logo {
          max-width: 200px;
        }
        &-nav {
          .nav {
            &-item {
              margin: 0 5px;
            }
            &-link {
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
      .whatsapp {
        display: flex;
      }
      .social-links {
        display: flex;
        margin: 5px 15px;
        padding: 0;
        list-style-type: none;
        justify-content: flex-end;
        .link {
          margin: 5px;
          a {
            text-decoration: none;
            color: #fff;
            transition: all 0.2s;
            i {
              display: flex;
              width: 20px;
              height: 20px;
            }
            &:hover {
              color: #ffec00;
            }
          }
          &.in {
            a {
              i {
                background: url('../assets/icons/icon-in.svg') no-repeat center;
                background-size: 20px 20px;
                transition: all 0.2s;
              }
              &:hover {
                i {
                  background: url('../assets/icons/icon-in_yellow.svg') no-repeat center left;
                  background-size: 20px 20px;
                }
              }
            }
          }
          &.fb {
            a {
              i {
                background: url('../assets/icons/icon-fb.svg') no-repeat center;
                background-size: 20px 20px;
                transition: all 0.2s;
              }
              &:hover {
                i {
                  background: url('../assets/icons/icon-fb_yellow.svg') no-repeat center left;
                  background-size: 20px 20px;
                }
              }
            }
          }
          &.phone {
            padding-left: 23px;
            margin-right: 15px;
            background: url('../assets/icons/icon-phone.svg') no-repeat center left;
            background-size: 15px 15px;
            transition: all 0.2s;
            &:hover {
              background: url('../assets/icons/icon-phone_yellow.svg') no-repeat center left;
              background-size: 15px 15px;
            }
          }
          &.whatsapp {
            padding-left: 23px;
            margin-right: 15px;
            background: url('../assets/icons/icon-whatsapp_white.svg') no-repeat center left;
            background-size: 15px 15px;
            transition: all 0.2s;
            &:hover {
              background: url('../assets/icons/icon-whatsapp_yellow.svg') no-repeat center left;
              background-size: 15px 15px;
            }
          }
        }
      }
      .callback {
        color: #fff;
        border-radius: 0;
        padding: 10px 30px 10px 55px;
        background: #36A834 url('../assets/icons/icon-phone.svg') no-repeat center left 10px;
        background-size: 20px 20px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  @media only screen and (max-width: 640px) {
    .navbar {
      .logo {
        max-width: 100px;
      }
      &-nav {
        text-align: center;
        margin-top: 25px;
      }
    }
  }
</style>
